@font-face {
    font-family: ubuntu-regular;
    src: url(./fonts/Ubuntu-Regular.ttf);
}

@font-face {
    font-family: ubuntu-bold;
    src: url(./fonts/Ubuntu-Bold.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: ubuntu-regular, sans-serif;
    color: #333;
    background: #f6f6f6;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.navbar .container ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar .container li{
    margin-left: 20px;
}

.navbar .container a:hover{
    color: lightskyblue;
}


.sign-up{
    background-color: #fff;
    padding: 12px;
    border-radius: 24px;
    flex-shrink: 0;
}

.sign-up a{
    color: #333;
}

a{
    text-decoration: none;
    color: #fff;
}

.navbar{
    background-color: #3474e6;
    color: #fff;
    padding: 16px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 32px;
    flex-shrink: 0;
    font-family: ubuntu-bold;
}

.header{
    background-color: #0151cc;
    color: #fff;
    padding: 32px 0;
}

.header .container img{
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.header .container{
    display: flex;
    gap: 16px;
}

.header .container p{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

h1{
    font-size: 56px;
}

button{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 16px 20px;
    font-size: 16px;
    border-radius: 32px;
    font-family: ubuntu-bold;
    flex-shrink: 0;
}

button:hover{
    background-color: #3474e6;
    border: 1px solid #3474e6;
    color: #fff;
    cursor: pointer;
}


