@font-face {
    font-family: poppins-regular;
    src: url(./fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppins-bold;
    src: url(./fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppins-italic;
    src: url(./fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: poppins-light;
    src: url(./fonts/Poppins-Light.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: poppins-regular, sans-serif;
    color: #181e28;
    background: #f6f6f6;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}

.navbar .container ul{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.navbar .container li{
    margin-left: 20px;
    flex-shrink: 0;
}

.navbar .container a:hover{
    color: lightskyblue;
    transition: 0.2s;
}

a{
    text-decoration: none;
    color: #fff;
}

.navbar{
    background-color: #3474e6;
    color: #fff;
    padding: 16px;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo{
    font-size: 32px;
    flex-shrink: 0;
    font-family: poppins-bold, sans-serif;
}

.header{
    background-color: #0151cc;
    color: #fff;
    padding: 32px 0;
}

.header .container img{
    max-width: 500px;
    border-radius: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.header .container{
    display: flex;
    gap: 16px;
}

.header .container p{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 20px;
}

h1{
    font-size: 56px;
}

button{
    background-color: #fff;
    border: 1px solid #fff;
    padding: 16px 20px;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 32px;
    font-family: poppins-bold, sans-serif;
    flex-shrink: 0;
}

button:hover{
    background-color: #3474e6;
    border: 1px solid #3474e6;
    color: #fff;
    cursor: pointer;
    transition: 0.2s;
}

.cards h2{
    text-align: center;
    margin:32px;
    font-size: 32px;
    font-family: poppins-bold;
}

.cards .container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards .container .diverse-land{
    border-bottom: 2px solid #181e28;
    padding-bottom: 8px;
}

.card{
    width: 300px;
    margin: 16px 16px;
    background-color: #3474e6;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
}

.card img{
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.card h2{
    margin: 8px 0 0 0;
    font-size: 20px;
    font-family: poppins-bold;
}

.card p{
    text-align: center;
    margin-bottom: 8px;
    padding: 10px;
    font-size: 18px;
    line-height: 1.4;
}


.testimonial{
    background-color: #E5E7EB;
    padding: 72px;
    margin-top: 20px;
}

.testimonial .container div p{
    font-family: poppins-italic;
}

.testimonial .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.testimonial .container div{
    margin: 16px;
    font-size: 22px;
}

.footer .container{
    display: flex;
    justify-content: center;
    background-color: #0151cc;
    color: #fff;
    margin-top: 16px;
    margin-bottom: 24px;
    padding: 28px;
}

.footer .container div{
    margin-right: 32px;
    line-height: 1.5;
}

.footer .heading{
    font-size: 24px;
    font-family: poppins-bold;
}

@media(max-width:840px) {
    .header .container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .header .container img{
        max-width: 400px;
    }

    .footer .container{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    .footer .container div{
        margin-right: 0px;
    }

    .footer .container p{
        margin: 16px 0;
    }
}

